@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&family=Londrina+Solid:wght@100;300;400;900&family=Playfair+Display+SC:wght@400;900&display=swap');


.container-header {
  margin-top: 4%;
  margin-bottom: 8%;
}
body {
  background-image: url(../../public/images/Historical\ Background_pic_preview.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

.Body {
  min-height: 70vh;
  margin-bottom: 16px;
}

/* <!-- HTML !-->
<button class="button-43" role="button">Button 43</button>

CSS */
.button-8 {
  background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 16px;
  font-style: "Londrina Solid";
  justify-content: center;
  padding: 1rem 1.75rem;
  text-decoration: none;
  width: 12%;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-8:hover {
  background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
}

@media (min-width: 768px) {
  .button-8 {
    padding: 1rem 2rem;
  }
}



.button-8:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-8:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
} 


footer {
  width:100%;
  left: 0;
  right: 0;
  bottom: 0;
}

.App-link {
  color: #61dafb;
}

.category-page button{
  background-color: rgb(66, 116, 138);
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: large;
} 

h1 {
  font-family: "Cinzel";
  font-weight: 900;
  font-size: 36x; 
 }

 h3 {
  font-family: "Cinzel";
  font-weight: 600;
}

p {
  font-family: "Cinzel";
}

 .accordion-header {
  overflow: hidden;
}
.accordion-header img {
  transform: scale(1);
  transition: 0.3s;
}
.accordion-header:hover img {
  transform: scale(1.2);
} 