body {
  background-image: url(../../public/images/Historical\ Background_pic_preview.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}
/* .category-accordian {
  background-color: rgba(194, 11, 170, 0.247);
} */

.container-header {
  margin-top: 5%;
  margin-bottom: 8%;
}

/* footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
} */

.App-link {
  color: #61dafb;
}

.category-page button{
  background-color: rgb(60, 113, 135);
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: large;
}

h1 {
  font-weight: 700;
}



